html,
body {
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.contact i,
.personal i {
    margin-right: 5px;
}

.underline:hover {
    text-decoration: underline;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.light-bold {
    font-weight: 500;
}
